*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4f4f4;
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 355px;
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 30px;
}

p{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

label{
    font-size: 20px;
    font-weight: 400;
}

input{
    padding: 5px;
    border: none;
    border-bottom: 1px solid rgb(137, 137, 137);
    margin-top: 10px;
    outline: none;
    font-size: large;
}
input[type=text]{
    margin-bottom: 15px;
}

.login-btn{
    border: none;
    background-color: #3498db;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
}

.login-footer {
    display: flex;
    margin-top: 10px;
}

.login-footer p {
    margin-right: 5px;
}

.login-footer a {
    text-decoration: none;
    color: #3498db;
}

.logout-btn{
    border: none;
    background-color: rgb(255, 71, 71);
    color: #fff;
    height: 50px;
    width: 100px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
}
